---
layout: archive
title: "Experience"
permalink: /experience/
author_profile: true
---

{% include base_path %}

<h2 id="work-experience">Work Experience</h2>
<hr />

{% for post in site.experience reversed %}
  {% if post.type == 'work' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2 id="projects">Projects</h2>
<hr />

{% for post in site.experience reversed %}
  {% if post.type == 'project' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2 id="patents">Patents</h2>
<hr />

{% for post in site.patents reversed %}
  {% include archive-single.html %}
{% endfor %}

